<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App | EventSourcingDoor</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

</head>
<body>
<div class="container py-3" id="app">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
            <h3 class="text-center">Todo App</h3>
            <router-view></router-view>
        </div>
    </div>
</div>
<script id="goals-template" type="text/x-template">
    <div class="card">
        <h4 class="card-header">Your goals</h4>
        <ul class="list-group list-group-flush">
            <li v-for="goal in goals" class="list-group-item">
                <router-link :style="[goal.isAchieved ? {'text-decoration' : 'line-through'}:{}]"
                             :to="{ name: 'tasks', params: {goalId: goal.id } }">
                    {{ goal.description }}
                </router-link>
            </li>
            <li class="list-group-item">
                <form @submit.prevent="setGoal">
                    <div class="input-group">
                        <input v-model="newGoalDescription"
                               type="text"
                               class="form-control"
                               placeholder="New goal description"
                               v-focus/>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" style="width: 105px;">Set a goal
                            </button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</script>
<script type="text/x-template" id="tasks-template">
    <div class="card">
        <h4 class="card-header">Your tasks to do</h4>
        <ul class="list-group list-group-flush">
            <li v-for="task in tasks" class="list-group-item">
                <form @submit.prevent="changeTask(task)">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input v-model="task.isFinished"
                                       type="checkbox"
                                       :disabled="task.isFinished"
                                       @change="finishTask(task)"/>
                            </div>
                        </div>
                        <input v-model="task.description"
                               type="text"
                               :style="[task.isFinished ? {'text-decoration' : 'line-through'}:{}]"
                               :disabled="task.isFinished"
                               class="form-control"/>
                        <div v-if="!task.isFinished" class="input-group-append">
                            <button class="btn btn-outline-secondary"
                                    type="submit"
                                    :disabled="task.isFinished"
                                    style="width: 105px;">Change
                            </button>
                        </div>
                    </div>
                </form>
            </li>
            <li class="list-group-item">
                <form @submit.prevent="addTask">
                    <div class="input-group">
                        <input v-model="newTaskDescription"
                               type="text"
                               class="form-control"
                               placeholder="New task description"
                               v-focus/>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" style="width: 105px;">Add a task
                            </button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</script>
<script src="/app.js"></script>
</body>
</html>